$phone-max-width: 1000px;


$min-page-width: 800px;
$max-page-width: 1500px;

%spread {
  display: flex;
  justify-content: space-between;
}
%center {
  display: flex;
  justify-content: center;
}

.full_screen {
  width: 100%;
  height: 100vh;
}

.page_container {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  width: 100%;
}
.page_item {
  grid-column: 2;
}

.page_minmax_size {
  width: 100%;
  max-width: $max-page-width;
  &-spread {
    @extend .page_minmax_size;
    @extend %spread;
  }
}

.page_padding {
  padding: 0 150px;
}
